  body {
      font-family: Arial, sans-serif;
      background: #f0f4f8;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    background-color: #020024;
    }

 
 .container {
      text-align: center;
      background: white;
      padding: 40px;
      border-radius: 15px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }

    .btn {
      padding: 15px 30px;
      margin: 10px;
      font-size: 16px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      background-color: #007BFF;
      color: white;
      transition: background-color 0.3s;
      text-decoration: none;
      display: inline-block;
    }

    .btn:hover {
      background-color: #0056b3;
    }